@import 'tailwindcss';
@import 'tw-animate-css';
@import './nprogress.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* 背景颜色 */
  --background: oklch(0.931 0 0);
  /* 主题色 */
  --primary: oklch(0.6512 0.191 252.78);
}

.dark {
  --background: oklch(0.2178 0 0);
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
}

* {
  scrollbar-width: thin;
  scrollbar-color: oklch(0 0 0 / 25%) transparent;
}

html {
  height: 100dvh;
}

body {
  background-color: var(--color-background);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

/* Prevent focus zoom on mobile devices(防止移动端输入框聚焦时放大) */
@media screen and (max-width: 767px) {
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}
